@model IEnumerable<AppAkonBD.Modelo.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoUsuarios</title>
</head>
<body>
    
    <h1>Esta linea esta versionada</h1>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departUsuario)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departUsuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
                @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
